@sidebar-width: 320px;
@transition: transform 500ms ease-in-out;

.flyout-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}

.toggle-sidebar-enter {
  transform: translate(-@sidebar-width);
  transition: @transition;
}

.toggle-sidebar-enter.toggle-sidebar-enter-active {
  transform: translate(0);
  transition: @transition; 
}

.toggle-sidebar-leave.toggle-sidebar-leave-active,
.toggle-sidebar-leave {
  transform: translate(-@sidebar-width);
  transition: @transition;
}
