@sidebar-width: 360px;

.flyout-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}


.example-enter {
  opacity: 0.01;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}