@import "./SlidingSidebar.less";

@slide-width: @sidebar-width;
@slide-header-height: 40px;

.slide {
	position: relative;
	width: @slide-width;
	height: 100%;
	background-color: white;

	.slide-header {
		width: 100%;
		height: @slide-header-height;
		background-color: #607D8B;
	}

	.slide-content {
		width: 100%;
		height: ~"calc(100% - @{slide-header-height})";	
		background-color: #CFD8DC;
	}
}
